In [29]:
import pandas
df = pandas.read_csv('social_media_interactions_contaminated.csv')
df

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,NaN,Comment,NaN
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,NaN
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,NaN
...,...,...,...,...,...,...
3195,8d8fe8bd-2009-4a15-be37-83dba3cef447,2212803c-4a00-4263-bae5-aaaff6d6bdb1,2023-08-30,Instagram,Like,Neutral
3196,1756838b-8368-4852-b4a5-32a23643a3dd,2f50ca57-f930-4d3e-ae08-9f3b26c7f148,2024-06-16,Facebook,Like,Neutral
3197,eb8bb3ce-e182-4a9c-8084-c55c738815e1,ee2c3d14-248c-48b0-aa80-4ea97e449bf8,2023-12-22,Instagram,Comment,Negative
3198,a5d08a95-9dba-4e3d-b997-1cfdde6a89ef,e77a8713-fdc7-4f71-85f8-9cd88cca0c42,2023-11-01,Twitter,Share,Positive
3199,f8146100-569d-4cda-9d64-88c6ad98de5f,454a0b90-d1bb-437d-ad50-ef01821fbf0a,2024-06-20,Instagram,Like,Neutral

In [30]:
df = df.drop_duplicates()
df

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,NaN,Comment,NaN
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,NaN
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,NaN
...,...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,071a2657-12a8-4216-9c64-baf9ab5c9420,2024-04-30,Twitter,Share,Neutral
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,e5be1d7a-fdba-4e91-8674-577ac01cddf0,2024-05-16,NaN,Like,Very Negative
3173,b7b84b81-c61b-4f23-b3db-b18010484122,93d2d3e1-841e-4ece-91c1-3b1998a4cab8,2023-12-16,Twitter,Like,Neutral
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,d7f6806b-f348-431e-9198-07f0685d8d8e,2024-01-28,Facebook,Share,Negative
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,1c2f510a-5ab5-4575-8f62-8ba8decf1302,2024-06-29,Twitter,Share,Negative

In [31]:
df = df.drop(columns = "InteractionID")
df

,CustomerID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,2023-07-11,NaN,Comment,NaN
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,2023-07-06,Twitter,Share,NaN
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,2023-07-08,Instagram,Like,NaN
...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,2024-04-30,Twitter,Share,Neutral
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,2024-05-16,NaN,Like,Very Negative
3173,b7b84b81-c61b-4f23-b3db-b18010484122,2023-12-16,Twitter,Like,Neutral
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,2024-01-28,Facebook,Share,Negative
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,2024-06-29,Twitter,Share,Negative

In [32]:
df = df.fillna('')
df

,CustomerID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,2023-07-11,,Comment,
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,2023-07-06,Twitter,Share,
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,2023-07-08,Instagram,Like,
...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,2024-04-30,Twitter,Share,Neutral
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,2024-05-16,,Like,Very Negative
3173,b7b84b81-c61b-4f23-b3db-b18010484122,2023-12-16,Twitter,Like,Neutral
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,2024-01-28,Facebook,Share,Negative
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,2024-06-29,Twitter,Share,Negative

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3020 entries, 0 to 3194
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       3020 non-null   object
 1   InteractionDate  3020 non-null   object
 2   Platform         3020 non-null   object
 3   InteractionType  3020 non-null   object
 4   Sentiment        3020 non-null   object
dtypes: object(5)
memory usage: 141.6+ KB

In [34]:
df.describe()

,CustomerID,InteractionDate,Platform,InteractionType,Sentiment
count,3020,3020,3020,3020,3020
unique,1893,450,4,3,6
top,a14c5d2f-87d8-4caf-b91e-ab6865872c37,2023-07-02,Instagram,Comment,Positive
freq,5,16,921,1018,905

In [35]:
df.isnull().sum()

CustomerID         0
InteractionDate    0
Platform           0
InteractionType    0
Sentiment          0
dtype: int64

In [36]:
df.corr()

ValueError: could not convert string to float: '2dcb9523-356b-40b2-a67b-1f27797de261'